body {
    background-color: #90c8e0;
}

#hourlyRate, #wHours, #overtimeSalary, #numberOfWorkingDays, #travelExpPerDay {
    border-radius: 5px;
    border: 2px solid #01BAEF;
    height: 30px;
    width: 500px;
    margin: 20px;
}

h3, .para {
    color: #FBFBFF;
    margin: 20px;
    padding-bottom: 5px;
}




.entrys {
    display: grid;
    justify-content: center;
    margin: 10px;
}

.izracunaj, .izracunajPrekovremene, .sum, .topliPutni {
    border-radius: 5px;
    border: 2px solid #01BAEF;
    height: 35px;
    width: 500px;
    margin: 20px;
}